<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style">
    <link rel="shortcut icon" type="image/x-icon" href="/image" style="height: 10px; width: 10px;" />
    <link rel="stylesheet" href="/postStyle">
    <title>EventLists</title>
</head>

<body>
    <!-- NavBarStart -->
    <header>
        <nav class="navContainer">
            <nav class="logo-title">
                <a href="/">
                    <img src="/image" alt="logo" class="logo" />
                    <h1 id="page-title">AcTrak</h1>
                </a>
            </nav>
            <a href="/main"><i class="bi bi-house-door-fill"></i>Home</a>
        </nav>
    </header>
    <hr>
    <!-- NavBarEnd -->

    <!-- Filter Box Start -->

    <form  action="/eventlist" method="post">
        <div class="fliterBox">
            <div class="filterOption">
                <label for="organisation">Organisation</label>
                <select name="organisation" id="organisation">
                    <option value="none" selected>Select the Organisation</option>
                    <option value="SECE">Sri Eshwar College of Engineering</option>
                    <option value="Coimbatore Institute Of Technology">Coimbatore Institute Of Technology</option>
                    <option value="Anna University">Anna University</option>
                </select>
            </div>
            <div class="filterOption">
                <label for="fields">fields</label>
                <select name="fields" id="fields">
                    <option value="none" selected>Select the Domain</option>
                    <option value="App Development">App Development</option>
                    <option value="Web Development">Web Development</option>
                    <option value="Machine Development">Machine Development</option>
                </select>
            </div>
            
            <div class="filterOption">
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option value="none" selected>Select the Type</option>
                    <option value="Technical">Technical</option>
                    <option value="Culturals">Culturals</option>
                    <option value="Health">Health</option>
                </select>
            </div>
            <div class="filterOption">
                <label for="sortBy">SortBy</label>
                <select name="sortBy" id="sortBy">
                    <option value="none" selected>Sorting Option</option>
                    <option value="Date(Ascending)">Date(Ascending)</option>
                    <option value="Date(Descending)">Date(Descending)</option>
                    <option value="Duration(Ascending)">Duration(Ascending)</option>
                    <option value="Duration(Descending)">Duration(Decending)</option>
                </select>
            </div>
            <div class="filterOption">
                <button type="submit" class="filter-btn">Filter<i class="bi bi-filter"></i></button>
            </div>
        </div>
    </form>

    <!-- Filter Box End -->

    <!-- Show Event Details -->
    <%if(eventdetails.length==0){%>
        <h1>No upcoming events</h1>
    <% } %>
    <div class="eventListOuterBox">
        <% for(let i=0; i < eventdetails.length; i++) { %>
            <div class="eventListInnerBox">
                <div class="orgName">
                    <h2><%=eventdetails[i]["_doc"]["organisation"]%></h2>
                    <h6>Id : <span><%=eventdetails[i]["_doc"]["id"]%></span></h6>
                </div>
                <div class="titleBox">
                    <h1><%=eventdetails[i]["_doc"]["title"]%></h1>
                </div>
                <div class="descriptionBox">
                    <p><%=eventdetails[i]["_doc"]["description"]%></p>
                </div>
                <div class="otherAtr">
                    <table>
                        <tr>
                            <td>Type : </td>
                            <td>Join Type :</td>
                            <td>Field : </td>
                            <td>Eligiblity : </td>
                            <td>Constraints : </td>
                            <td>Prizes : </td>
                            <td>OutComes : </td>
                            <td>sponsers : </td>
                        </tr>
                        <tr>
                            <td><%=eventdetails[i]["_doc"]["eventType"]%></td>
                            <td><%=eventdetails[i]["_doc"]["eventJoinType"]%></td>
                            <td><%=eventdetails[i]["_doc"]["fields"]%></td>
                            <td><%=eventdetails[i]["_doc"]["eligiblity"]%></td>
                            <td><%=eventdetails[i]["_doc"]["constraints"]%></td>
                            <td><%=eventdetails[i]["_doc"]["prizes"]%></td>
                            <td><%=eventdetails[i]["_doc"]["takeaways"]%></td>
                            <td><%=eventdetails[i]["_doc"]["takeaways"]%></td>
                            <td><%=eventdetails[i]["_doc"]["sponsers"]%></td>
                        </tr>
                    </table>
                </div>
                <div class="times">
                    <div class="timeBox">
                        <h4>Start Date & Time</h4>
                        <h4><%=eventdetails[i]["_doc"]["date"]%> <%=eventdetails[i]["_doc"]["time"]%></h4>
                    </div>
                    <div class="timeBox">
                        <h4>End Date & Time</h4>
                        <h4><%=eventdetails[i]["_doc"]["endDate"]%> <%=eventdetails[i]["_doc"]["endTime"]%></h4>
                    </div>
                    <div class="timeBox">
                        <h4>Duration</h4>
                        <h4><%=eventdetails[i]["_doc"]["duration"][0]%>Days <%=eventdetails[i]["_doc"]["duration"][1]%>Hrs <%=eventdetails[i]["_doc"]["duration"][1]%>Mins</h4>
                    </div>
                </div>
            </div>
        <%}%>
    </div>            
</body>
</html>